*{
    font-size: 10px;
}

p{
    font-family: Roboto, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    
}

body{
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 25px;

    background-color: rgb(245, 245, 245);
}
